<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fabric Collection</title>
</head>

<body>
    <a href="/">Back to Home</a> {{#fabric}}
    <div>
        <p>Designer Name: {{name.designerName}}</p><br>
        <p>Fabric Name: {{name.fabricName}}</p><br>
        <p>Colors in Fabric: {{#color}}{{.}} {{/color}}</p><br>
        <p>Number of Yards: {{amount}}</p><br>
        <p>Type of Fabric: {{material}}</p><br>
        <p>Is Fabric Designated for a Project: {{#projectPlanned}} Yes {{/projectPlanned}}{{^projectPlanned}}No{{/projectPlanned}}</p><br>
    </div>
    <br>
    <hr>

    <h1>Update Fabric Information</h1>
    <form action="/fabric/{{_id}}" method="POST">
        <label for="">Fabric Name</label>
        <input type="text" name="name.fabricName" value={{name.fabricName}}><br>
        <label for="">Designer Name</label>
        <input type="text" name="name.designerName" value={{name.designerName}}><br>
        <label for="">Color in Fabric</label> {{#color}}
        <input type="text" name="color" value={{.}}><br> {{/color}}
        <h2>What type of fabric?</h2><select type="select" name="material" value={{material}}>
            <option value="silk">Silk</option>
            <option value="denim">Denim</option>
            <option value="cotton">Cotton</option>
            <option value="rayon">Rayon</option>
            </select><br>
        <label for="">Number of Yards</label>
        <input type="number" name="amount" value={{amount}}><br>


        <h2>Is the fabric designated for a project?</h2><br> {{#projectPlanned}}
        <label for="yescheckbox">Yes</label>
        <input id="yescheckbox" type="radio" name="projectPlanned" value="true" checked>
        <label for="nocheckbox">No</label>
        <input id="nocheckbox" type="radio" name="projectPlanned" value="false"> {{/projectPlanned}} {{^projectPlanned}}
        <label for="yescheckbox">Yes</label>
        <input id="yescheckbox" type="radio" name="projectPlanned" value="true">
        <label for="nocheckbox">No</label>
        <input id="nocheckbox" type="radio" name="projectPlanned" value="false" checked> {{/projectPlanned}}
        <br>
        <button type="Submit">Update</button>
    </form>
    <form action="/deletefabric/{{_id}}" method="GET">
        <button type="Submit">Delete Fabric</button> {{/fabric}}
    </form>


</body>

</html>