<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fabric Collection</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <form action="/fabricCollection" method="POST">
        <label for="">Fabric Name</label>
        <input type="text" name="name.fabricName"><br>
        <label for="">Designer Name</label>
        <input type="text" name="name.designerName"><br>
        <label for="">Color in Fabric</label>
        <input type="text" name="color"><br>
        <label for="">Color in Fabric</label>
        <input type="text" name="color"><br>
        <label for="">Color in Fabric</label>
        <input type="text" name="color"><br>
        <label for="">Color in Fabric</label>
        <input type="text" name="color"><br>
        <label for="">Color in Fabric</label>
        <input type="text" name="color"><br>
        <h2>What type of fabric?</h2><select type="select" name="material">
            <option value="silk">Silk</option>
            <option value="denim">Denim</option>
            <option value="cotton">Cotton</option>
            <option value="rayon">Rayon</option>
            </select><br>
        <label for="">Number of Yards</label>
        <input type="number" name="amount"><br>
        <h2>Is the fabric designated for a project?</h2><br>
        <label for="true">Yes</label>
        <input type="radio" name="projectPlanned" value="true" checked required>
        <label for="false">No</label>
        <input type="radio" name="projectPlanned" value="false">
        <br>
        <button type="Submit">Add New Fabric</button>
    </form>
    <hr> {{#fabric}}
    <div>
        <a href="/fabric/{{_id}}">
            <h5>{{name.fabricName}}</h5>
        </a>
        <p>Designer Name: {{name.designerName}}</p><br>
        <p>Fabric Name: {{name.fabricName}}</p><br>
        <p>Colors in Fabric: {{color}}</p><br>
        <p>Number of Yards: {{amount}}</p><br>
        <p>Type of Fabric: {{material}}</p><br>
        <p>Is Fabric Designated for a Project: {{projectPlanned}}</p><br>
    </div>
    <hr>
    <br> {{/fabric}}



</body>

</html>